__pycache__/
*.py[cod]
venv/
env/
.venv/
.env

.ipynb_checkpoints/

logs/
*.log

data/raw/
data/processed/
uploads/
*.csv
*.json
*.xlsx
*.txt
*.pdf

models/
checkpoints/
outputs/
*.pt
*.pth
*.h5
*.keras
*.onnx
*.safetensors

reports/
*.pdf
*.docx

vectorstore/
faiss_index/
chroma_db/

wandb/
mlruns/
runs/

.vscode/
.idea/
.DS_Store
Thumbs.db
